recursive-include examples *.py *.ipynb *.js *.css *.html *.png
recursive-include docs *
recursive-include jigna/js *.*
recursive-exclude jigna/js/node_modules *.*
recursive-exclude examples/.ipynb_checkpoints *.*
include README.rst LICENSE.txt
global-exclude *.pyc *.pyo .DS_Store *.egg-info/*
