<html>
    <head>
        <!-- Load the jigna script. -->
        <script type='text/javascript' src='/jigna/jigna.js'></script>

        <!-- Once jigna is loaded, initialize it. -->
        <script type='text/javascript'>
            jigna.initialize();
        </script>

        <!-- Custom angularjs application to handle the view related logic of
        formatting the domain model's time (in seconds) to an hh:mm:ss
        format. -->
        <script type='text/javascript'>
            // Specify the 'jigna' angular app as a dependency
            var app = angular.module('StopWatchApp', ['jigna']);

            // Define a filter to display time (in seconds) in a proper hh:mm:ss
            // format
            app.filter('displayTime', function(){
                return function(time_in_seconds){
                    hours = Math.floor(time_in_seconds/3600)
                    mins = Math.floor((time_in_seconds%3600)/60)
                    seconds = (time_in_seconds%3600)%60

                    return hours + ":" + mins + ":" + seconds
                };
            });
        </script>
    </head>

    <body ng-app='StopWatchApp'>
        Time: {{stop_watch.time | displayTime}} <br/>

        <!-- Start the stop watch in a new thread because it is a slow
        operation -->
        <button ng-click="jigna.threaded(stop_watch, 'start')"
                ng-show="stop_watch.state=='stopped'">
            Start
        </button>

        <!-- Stop -->
        <button ng-click="stop_watch.stop()"
                ng-show="stop_watch.state=='running'">
            Stop
        </button>

        <!-- Reset -->
        <button ng-click="stop_watch.reset()">
            Reset
        </button>
    </body>
</html>
