<%block name="session_css">
	<link rel="stylesheet" href="test.css">
</%block>

<%block name="session_js">
	<script type="text/javascript">
		$('.department_name').hover(function(){
			scope = $(this).scope();
			console.log('scope is:', scope);
			scope.scoped(function(){
				scope.department = "Management";
				console.log('changing scope to:', scope);
				})
			}, function(){
				scope = $(this).scope();
				scope.scoped(function(){
					scope.department = "Engineering";
				})
			})
	</script>
</%block>

<%block name="session_html">
	<div data-objname="sam">
        <h3>Employee name is <input ng-model="first_name"> {{last_name}}</h3>
        He works in the <span class="department_name">{{department}}</span>
        department, and obtains a salary of
        Rs. <input ng-model="salary" type="number"> per month.
    </div>
</%block>